# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local overrides
*.tfvars
*.tfvars.json

# OS / misc
.DS_Store

# Helm
charts/**/charts/
charts/**/Chart.lock

django-app-goit/
helm-charts-goit/
terraform-jenkins/
user-data.mime
eks describe-nodegroup \
*.mime
