# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
crash.log
crash.*.log

# =========================
# Terraform variable files
# =========================
*.tfvars
*.tfvars.json

# =========================
# Helm
# =========================
charts/**/charts/
charts/**/Chart.lock

# =========================
# Local artifacts / projects
# =========================
django-app-goit/
helm-charts-goit/
terraform-jenkins/
aws/
awscliv2.zip
user-data.mime
*.mime

# =========================
# OS / Editor
# =========================
.DS_Store
*.swp
