# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
terraform.tfvars
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# Helm
# =========================
charts/**/charts/
charts/**/Chart.lock

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.env.*
venv/
.envrc

# =========================
# Docker
# =========================
*.tar

# =========================
# Local artifacts / old labs
# =========================
django-app-goit/
helm-charts-goit/
terraform-jenkins/
aws/
awscliv2.zip
user-data.mime
*.mime

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Kubernetes
# =========================
*.kubeconfig
