replicaCount: 1

image:
  repository: "369751621151.dkr.ecr.eu-central-1.amazonaws.com/lesson-7-ecr"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
