controller:
  admin:
    username: admin

  serviceType: LoadBalancer

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

  persistentVolume:
    enabled: true
    storageClass: "ebs-sc"
    size: 10Gi

  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest
    - credentials-binding:latest
    - github:latest

  JCasC:
    defaultConfig: true
    configScripts:
      creds: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - string:
                      scope: GLOBAL
                      id: github-pat
                      secret: "${GITHUB_PAT}"
                      description: "GitHub PAT from k8s secret"
                  - usernamePassword:
                      scope: GLOBAL
                      id: github-userpass
                      username: "${GITHUB_USERNAME}"
                      password: "${GITHUB_PAT}"
                      description: "GitHub username+PAT from k8s secret"

  extraEnv:
    - name: GITHUB_USERNAME
      valueFrom:
        secretKeyRef:
          name: github-token
          key: username
    - name: GITHUB_PAT
      valueFrom:
        secretKeyRef:
          name: github-token
          key: token
